# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/ai1wm-backups/
wp-content/cache/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/
wp-content/uploads-webpc/
wp-content/wflogs/
wp-content/wp-rocket-config/
wp-content/plugins/

# ignore log files and databases
*.log
*.sql
*.sqlite
.htaccess
sitemap.xml
sitemap.xml.gz

# ignore node dependency directories
# node_modules/
/wp-config.php
uploads
