.home-main{
    position: relative;
    &:after{
    background-image: url(../images/bg-image.png);
    background-position: bottom right;
    background-repeat: no-repeat;    
    content: "";
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    @include md{
        display: none;
    }
    }
    &.scrolled{
       &::after{
        background-position: bottom center;
       } 
    }
}
.banner-slider{    
    position: relative;
    z-index: 999;
    .home-slider.slick-dotted.slick-slider{
        margin: 0;
    }
    .item{       
        display: block;
        position: relative;
        .container{
            position: relative;
        }
        .item-content{
            position: absolute;
            right: 0;
            width: auto;
            bottom: 37px;
            width: 100%;
            z-index: 9;
            @include x-xxl{
                right: 20px;
            }
            @include md{
                right: auto;
                left: auto;
                bottom: 145px;
                position: relative;
                text-align: center;
            }
            h2{
                text-transform: uppercase;
                margin: 0 0 10px 0;
                text-align: right;
                @include md{
                    text-align: center;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: flex-end;
                @include md{
                    justify-content: center;
                }
                li{
                    color: $white-color;
                    font-size: $default-size;
                    line-height: 30px;
                    letter-spacing: 0.96px;
                    &:not(:last-child){
                        &::after{
                            content: "|";
                            margin: 0 10px;
                        }
                    }
                }
            }  
        }
        figure{
            width: 100%;
            margin: 0;
            display: block;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
            padding-bottom: 48%;
            @include x-xxl{
                padding-bottom: 56%;
            }
            @include md{
                padding-bottom: 150%;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                position: absolute;
                object-position: top;
                left: 0;
                top: 0;
            }
        }  
    }
    .slick-dots{
        position: absolute;
        left: 20px;
        bottom: initial;
        top: 50%;
        width: auto;
        transform: translateY(-50%);
        z-index: 999;
        li{
            display: block;
            margin: 0 0 -1px 0;
            width: auto;
            height: auto;
            button{
                width: 1px;
                height: 21px;
                background-color: $text-color;
                padding: 0;
                border-radius: 0;
                margin: 0;
                &:before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background-color: $border-color;
                    width: 2px;
                    border-radius: 10px;
                    margin-left: -0.5px;
                }
            }
        }
    }
    .go-down{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
        border-radius: 100%;
        //background: $primary-bg-color;
        bottom: -42px;             
        &::after{
            content: "";
            background: #363334 url("../images/bg-image.png") no-repeat;
            background-size: 1500% 1500%;
            z-index: -1;
            position: absolute;
            top: 26%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 48px;
            width: 90px;
            border-radius: 67.5px 67.5px 0 0;
            background-position: 100px 100px;
            @media only screen and (max-width:1800px){
                top: 27%;
            } 
            @include md{
                top: 21%;
                height: 38px;
                width: 80px;
                border-radius: 60px 60px 0 0;
            }
        }
        @include md{
            bottom: 48px;
            width: 80px;
            height: 80px;
        }
        .circle-logo{
            position: absolute;
            left: 50%;
            bottom: 15px;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: $border-color;
            background-image: url(../images/down-arrow.svg);
            background-position: center;
            background-repeat: no-repeat; 
            cursor: pointer;
            @include md{
                bottom: -11px;
                position: relative;
            }
            //border: 15px solid $primary-bg-color;       
        }
    }
    
}
.gallery-section{
    padding: 261px 0 115px 0;
    @include md{
        position: relative;
        &::after{
            background-image: url(../images/bg-image.png);
            background-position: bottom center;
            background-repeat: no-repeat;    
            background-size: cover;
            content: "";
            width: 100%;
            height: 110%;    
            position: absolute;
            left: 0;
            top: -95px;
            z-index: -1;
        }        
    }
    @include x-lg{
        padding-top: 140px;
        padding-bottom: 0;
    }
    @include md{
        padding: 0 0 115px 0;
    }
    ul{
        margin: 0;
        padding: 0;
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        @include md{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
        li{
            @include md{
                max-width: 246px;
                width: 100%;
            }
            figure{
                margin: 0;
                display: block;
                height: 0;
                overflow: hidden;
                position: relative;
                z-index: 1;
                padding-bottom: 100%;
                @include md{
                    max-width: 100%;               
                    margin: 0 auto;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    position: absolute;
                    object-position: top;
                    left: 0;
                    top: 0;
                    @include md{
                        //height: 246px;
                        object-fit: cover;
                    }
                }
            }
            .gallery-name{
                margin: 36px 0 0 0;
                @include md{
                    font-size: 15px;
                    letter-spacing: .8px;
                    text-align: left
                }
                a{                    
                    @include link;
                    letter-spacing: 2.5px;
                    position: relative;
                    font-size: $h2-size;
                    letter-spacing: 2.5px;
                    line-height: 22px;
                    color: $white-color;
                    font-weight: 700;
                    text-decoration: none;
                    @include md{
                        font-size: 15px;
                        letter-spacing: .8px;
                        text-align: left
                    }
                    &:hover{
                        position: unset;
                    }
                }
            }
        }

    }
}
.about-us-section{
    padding: 115px 0 126px 0;
    position: relative;
    overflow: hidden;
    @include md{
        padding-bottom: 80px;
        padding-top: 0;
    }
    .content-outer{
        padding: 0 92px;
        display: flex;
        column-gap: 130px;
        position: relative;
        align-items: center;
        @include x-lg{
            padding: 0;
            column-gap: 70px;
        }
        @include md{
            row-gap: 30px;
            column-gap: 0;
            flex-wrap: wrap;
        }
        .stacey-image{
            width: 35%;  
            position: relative;
            @include x-lg{
                width: 48%;
            }
            @include md{
                width: 119%;
                margin: 0 -30px;
            }
           &:before {
                content: "";
                position: absolute;
                width: 3000%;
                height: 1px;
                background-color: $border-color;
                left: auto;
                right: -20%;
                top: 171px;
                transform: translateX(-50%);
                @include md{
                    top: 180px;
                    z-index: 1;
                    height: 0;
                    width: 1px;
                    left: 30px;
                }
            }   
            &[data-aos=fade-up].aos-animate:before {
                transition-duration: 2s !important;
                transform: translateX(0);
                opacity: 1;
                @include md{
                    transition-duration: 6s !important;
                    height: 590px;
                }
            }    
            figure{
                position: relative;
                @include md{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 567px;
                        object-fit: cover;
                    }
                }
            }   
        }
        .stacey-content{
            width: 46%;
            @include x-lg{
                width: 48%;
            }
            @include md{
                width: 100%;
            }
            .stacey-icon{
                margin: 0 0 24px 0;
                @include md{
                    display: flex;
                    justify-content: center;
                }
                img{
                    display: block;
                    @include md{
                        height: 80px;
                        width: 80px;
                    }
                }
            }
            h1{
                margin: 0 0 23px 0;
                color: $border-color;
                font-weight: 800;
                text-transform: uppercase;
                @include md{
                    font-size: 25px;
                    line-height: 48px;
                    letter-spacing: 1px;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            p{
                margin-bottom: 28px;
                color: $white-color;
                line-height: 22px;
                &:last-child{
                    margin-bottom: 0;
                }
                @include md{
                    text-align: center;
                }
            }
        }
    }
}
.event-section{
    padding-bottom: 50px;
    @include md{
        padding: 0;
    }
    .container{
        position: relative;
        @include md{
            padding: 0;
        }
    }
    .event-slider{
        .item{
            .eventdetails{
                display: flex;
                justify-content: flex-start;
                height: 635px;
                @include md{
                    flex-direction: column-reverse;
                    height: auto;
                }
                .event-content{
                    background-color: $bg-color;
                    padding: 70px 55px;
                    max-width: 332px;
                    width: 100%;                    
                    @include x-xxl{
                        padding: 70px 30px;
                    }
                    @include md{
                        max-width: 100%;
                        padding: 20px 40px 80px 40px;
                    }
                    h1{
                        color: $border-color;
                        text-transform: uppercase;
                        letter-spacing: 1.35px;
                        margin: 0;
                        line-height: normal;
                        @include md{
                            font-size: 25px;
                            line-height: 48px;
                        }
                    }
                    h2{
                        color: $white-color;
                        margin: 10px 0 0 0;
                        line-height: normal;
                        @include md{
                            text-transform: uppercase;
                            font-size: 15px;
                            letter-spacing: .8px;
                        }
                    }
                    hr{
                        height: 1px;
                        width: 100%;
                        max-width: 102px;
                        border: 0;
                        background-color: $border-color;
                        margin: 20px 0;
                        @include md{
                            display: block;
                        }
                    }
                    p{
                        color: $white-color;  
                    }
                    .link{
                        display: inline-block;
                        a{
                            color: $border-color;
                            text-transform: capitalize;
                            font-size: $small-size;
                            line-height: 30px;
                        }
                    }
                    
                }
                .event-image{
                    height: 100%;
                    width: 100%;
                    @include md{
                        height: 288px;
                    }
                    figure{
                        margin: 0;
                        height: 100%;
                        img{
                            width: 100%;
                            max-width: 616px;
                            height: 100%;
                            object-fit: cover;
                            @include md{
                                height: 288px;
                                object-position: top;
                                max-width: 100%;
                            }
                        }
                    }
                    
                }
            }            
            hr{
                border-top: 0;
                height: 2px;
                width: 100%;
                max-width: 332px;
                background-color: #E1CCBF;
                margin: 40px 0 0 0;
                @include md{
                    display: none;
                }
                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #5B5055;
                    display: inline-block;
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
                
            }
        }
    }
    .slick-slider{
        .slick-arrow{
            border-radius: 100%;
            // position: relative;
            transition: all 0.3s ease-in-out;    
            z-index: 1;
            width: 80px;
            height: 80px;
            position: absolute;
            border-radius: 50%;
            opacity: 0;
            @include x-lg{
                width: 60px;
                height: 60px;
            }
            @include md{
                height: 40px;
                width: 40px;
                opacity: 1;
            }
            &.slick-disabled{
                display: none !important;
            }    
            &.slick-prev{
                background: $primary-bg-color;
                background-repeat: no-repeat;
                background-position: center;
                left: -2.4%;
                border: 0;   
                top: 47%;
                @include md{
                    left: auto;
                    right: 90px;
                    top: auto;
                    bottom: 20px;
                    background-color: transparent;
                    &:hover{
                        &::after{
                            background: url(../images/slick-prev-hover.svg) no-repeat center #E1CCBF;
                            background-size: 7px 13px;
                        }                        
                    }
                }
                @include md{
                    &::after{
                        content: "";
                        background-image: url(../images/slick-prev.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 1px solid $border-color;
                        border-radius: 100%;
                        background-size: 7px 13px;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        position: absolute;
                        background-color: transparent;                        
                    }
                }
            }
            &.slick-next{
                //background-image: url(../images/slick-next.svg);
                background-repeat: no-repeat;
                background-position: center;
                right: 25%;
                //border: 10px solid #363334;
                background: $primary-bg-color;
                border: 0;
                top: 47%;
                @include x-lg{
                    right: -20px;
                }
                @include md{
                    background-color: transparent;
                    bottom: 20px;
                    right: 30px;
                    top: auto;
                    &:hover{
                        &::after{
                            background: url(../images/slick-next-hover.svg) no-repeat center #E1CCBF;
                            background-size: 7px 13px;
                        }
                        
                    }
                }
                @include md{
                    &::after{
                        content: "";
                        background-image: url(../images/slick-next.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 1px solid $border-color;
                        border-radius: 100%;
                        background-size: 7px 13px;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        position: absolute;
                        background-color: transparent;
                    }         
                }
                       
            }
            &:before{
                width: 0;
                content: "";
                background-color: $white-color;
                height: 30px;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 0.3s ease-in-out;
                display: none;
            }
        }
        // .slick-dots{
        //     bottom: -12%;
        //     display: flex;
        //     justify-content: center;
        //     width: 100%;
        //     li{
        //         margin: 0;
        //         width: 33.33%;
        //         button{
        //             width: 100%;
        //             background-color: $text-color;
        //             height: 1px;
        //             margin: 0;
        //             padding: 0;
        //             &::before{
        //                 display: none;
        //             }
        //         }
        //         &.slick-active{
        //             button{
        //                 height: 2px;
        //                 background-color: $border-color;
        //             }                
        //         }
        //     }
        // }
    }
    .btn-wrap{
        @media only screen and (max-width:767px){
            display: none;
        }
        .next-btn{
            position: absolute;
            right: 27.7%;
            top: 39.3%;
            left: auto;
            width: 80px;
            height: 80px;
            background: #363334;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
            outline: none;
            &.nextDisabled{
                display: none;
            }
            @include x-xxl{
                right: 24.7%;
            }
            @include x-lg{
                width: 60px;
                height: 60px;
                right: 10px;
                svg{
                    height: 40px;
                    width: 40px;
                }
            }
            svg{
                g{
                    // circle{
                    //     stroke: #E1CCBF;
                    //     transition: all 0.6s;
                    //     stroke-dashoffset: 280;
                    //     stroke-dasharray: 140;
                    // }
                    .another-circle,.another-circle-next{
                        stroke-dasharray: 227;
                        stroke-dashoffset: 227;
                        transition: stroke-dashoffset 2s linear;
                        stroke: #fff;
                    }
                }
                
            }
            &:hover{
                svg{
                    g{
                        // #Ellipse_11{
                        //     stroke-dashoffset: 0;
                        //     stroke-dasharray: 140;
                        //     stroke: #fff;
                        // }
                        .another-circle {
                            stroke-dashoffset: 0;
                            stroke: #ffff;
                        }
                    }
                }
            }
        }
        .prev-btn{
            position: absolute;
            right: auto;
            top: 39.5%;
            left: 30px;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background: #363334;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;
            outline: none;
            //opacity: 0;
            &.prevDisabled{
                display: none;
            }
            @include x-xxl{
                left: -38px;
            }
            @include x-lg{
                width: 60px;
                height: 60px;
                left: 0;
                svg{
                    height: 40px;
                    width: 40px;
                }
            }
            svg{
                transform: rotate(180deg);
                g{
                    // circle{
                    //     stroke: #E1CCBF;
                    //     transition: all 0.6s;
                    //     stroke-dashoffset: 280;
                    //     stroke-dasharray: 140;
                    // }
                    .another-circle,.another-circle-next{
                        stroke-dasharray: 227;
                        stroke-dashoffset: 227;
                        transition: stroke-dashoffset 2s linear;
                        stroke: #fff;
                    }
                }
            }
            &:hover{
                svg{
                    g{
                        // #Ellipse_11{
                        //     stroke-dashoffset: 0;
                        //     stroke-dasharray: 140;
                        //     stroke: #fff;
                        // }
                        .another-circle {
                            stroke-dashoffset: 0;
                            stroke: #ffff;
                        }
                    }
                }
            }
            
        }
    }
}
.instagram-section{
    padding: 150px 0;
    @include x-lg{
        padding:70px 0; 
    }
    #sb_instagram{
        padding: 0 !important;
    }
    .instaname{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 20px;
        a{
            position: relative;
            font-size: $small-size;
            letter-spacing: 2.5px;
            line-height: 30px;
            color: $white-color;
            font-weight: normal;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            font-family: $default-font;
            &::before{
                content: "";
                background:$border-color;
                display: block;
                position: absolute;
                top: -8px;
                right: 0;
                width: 101px;
                height: 1px;
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                color: $border-color;
                &::before{
                    width: 100%;
                }
            }
        }
        
    }
}

.contact-modal{
    padding: 20px 40px;
    background-color: $border-color;
    border-radius: 0;
    h1{
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        line-height: 48px;  
        margin: 0;
        @include md{
            font-size: 25px;
        }
    }
    .modalcontent{
        width: 100%;
        position: relative;
        max-width: 660px;
        .fulldiv{
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include md{
                flex-wrap: wrap;
            }
            p{
                width: 100%;
                margin: 0 0 10px 0;
            }
            input[type="text"],input[type="email"],textarea{
                background-color: transparent;
                font-size: 16px;
                line-height: 35px;
                padding: 5px 10px 5px 0;
                font-family: $raleway-font;
                border: 0;
                border-bottom: 1px solid $primary-bg-color;
                outline: none;
                max-width: 275px;
                width: 100%;
                border-radius: 0;
                color: #A4948F;
                font-weight: 600;
                letter-spacing: .5px;
                &::placeholder{
                    color: #A4948F;
                }
                @include md{
                    font-size: 14px;
                    line-height: 20px;                    
                    letter-spacing: .4px;
                }
            }
            textarea{
                max-width: 100%;
                height: 150px;
            }
            .halfdiv{
                width: 48%;
                max-width: 275px;
                @include md{
                    width: 100%;
                    max-width: 100%;
                }
            }
            & + p{
                margin: 0;
            }
        }
        input[type="submit"]{
            padding: 5px 20px;
            text-transform: uppercase;   
            font-size: $small-size + 1px; 
            letter-spacing: 1.5px;
            line-height: 30px;
            font-family: $default-font;
            border-radius: 30px;
            font-weight: 600;
            color: $text-color;
            border: 1px solid $text-color;
            text-decoration: none;
            outline: none;
            background-color: transparent;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            cursor: pointer;
            &:hover{
                background-color: $white-color;
                border-color: $white-color;
            }
        }
        form{
            > p{
                position: relative;
                .wpcf7-spinner{
                    left: 60%;
                    top: 10px;
                    position: absolute;
                    @include md{
                        left: 65%;
                    }
                }
            }
            
        }
    }
    a.close-modal {
        background-image: url(../images/cancel.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 16px;
        width: 16px;
        right: 20px;
        top: 20px;
    }
}
#thankyou-modal{
    .modalcontent{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 365px;  
        h1{
            font-size: bold;
        }
        p{
            margin-top: 0;
        }
    }
}
.blocker{
    padding: 0;
    z-index: 99;
}
.gallery-view{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-color: #000;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    .close-modal {
        background-image: url(../images/cancel.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 16px;
        width: 16px;
        right: 20px;
        top: 20px;
        display: none !important;
    }
    .mainpopup{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .topbar{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            z-index: 1;
            top: 20px;
            .back-arrow{
                display: flex;
                align-items: center;
                color: $white-color;
                text-transform: uppercase;
                font-size: 15px;
                font-family: $default-font;
                font-weight: 600;
                letter-spacing: 1.5px;
                line-height: 30px;
                text-decoration: none;
                @include md{
                    font-size: 0;
                }
                .backicon{
                    height: 44px;
                    width: 44px;
                    margin-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $white-color;
                    border-radius: 50%;
                    svg{
                        width: 9px;
                        height: 9px;
                        margin: 0;
                    }
                }
                &:hover{
                    svg{
                        path{
                            stroke: $bg-color;
                        }                        
                    }
                    span{
                        background-color: $white-color;
                        border-color: $white-color;
                    }
                }
            }
            .backlink{
                margin-top: 0;
                @include md{
                    display: none;
                }
            }
        }
        .popupslider{
            height: calc(100vh - 290px);
            @media only screen and (max-width:1600px){
                height: calc(100vh - 220px);
            }
            @include x-xxl{
                height: calc(100vh - 200px);
            }
            @include md{
                height: calc(100vh - 100px);
            }
            .imagebox {
                width: 100%;
                height: calc(100vh - 290px);
                position: relative;
                @media only screen and (max-width:1600px){
                    height: calc(100vh - 220px);
                }
                @include x-xxl{
                    height: calc(100vh - 200px);
                }
                @include md{
                    height: calc(100vh - 100px);
                }
                img{
                    height: calc(100vh - 380px);
                    object-fit: contain;
                    width: 100%;
                    padding-top: 70px;
                    @media only screen and (max-width:1600px){
                        height: calc(100vh - 310px);
                    }
                    @include x-xxl{
                        height: calc(100vh - 300px);
                    }
                    @include md{
                        height: calc(100dvh - 300px);
                    }
                }
                .contentbox{
                    position: absolute;
                    left: 30px;
                    bottom: 20px;
                    width: 100%;
                    max-width: 400px;
                    z-index: 1;
                    @include md{
                        position: static;
                        padding: 20px 30px;
                        max-width: 100%;
                        .backlink{
                            margin: 30px auto 0 auto;
                            display: flex;
                            justify-content: center;
                            max-width: 240px;
                            font-size: 13px;
                        }
                    }
                    @media only screen and (min-width:767px){
                        .backlink{
                            display: none;
                        }
                    }
                    h2{
                        text-transform: uppercase;
                        font-family: $default-font; 
                        margin: 0 0 10px 0;
                        @include md{
                            display: none;
                        }
                    }
                    .details{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @include md{
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                        }
                        > div{
                            display: flex;
                            flex-direction: column;
                            @include md{
                                flex-direction: row;
                                align-items: center;
                            }
                            span{
                                font-family: $default-font;
                                color: $white-color;
                                opacity: .5;
                                font-size: $small-size;
                                line-height: 14px;
                                font-weight: 400;
                                @include md{
                                    text-transform: uppercase;
                                    margin-right: 8px;
                                }
                            }
                            p{
                                font-size: $small-size + 2px;
                                color: $white-color;
                                margin: 0;
                            }
                        }
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0,0,0,.3);
                    z-index: 0;
                    @include md{
                        height:calc(100dvh - 300px);
                    }
                }
            }
        }
        .sync-slider{
            margin: 30px 0 37px 0;
            z-index: 1;
            @include x-xxl{
                margin: 20px 0;
            }
            @include md{
                margin: 0;
            }
            .slick-track{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 0 auto;
                .innerslider{
                    padding: 0 14px;
                    cursor: pointer;
                    @media only screen and (max-width:1600px){
                        padding: 0 10px;
                    }
                    @include x-lg{
                        padding: 0 5px;
                    }
                    img{
                        height: 230px;
                        object-fit: cover;
                        @media only screen and (max-width:1600px){
                            height: 190px;
                        }
                        @media only screen and (max-width:1600px){
                            height: 160px;
                        }
                        @media only screen and (max-width:1280px){
                            height: 150px;
                        }
                        @include md{
                            height: 100px;
                        }
                    }
                    &.slick-slide{
                        position: relative;
                        &::after{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0,0,0,.8);
                            height: 100%;
                            width: 100%;
                        }
                    }
                    &.slick-current{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
            .slick-arrow{
                bottom: auto;
                right: 5%;
                left: auto;
                position: absolute;
                height: 44px;
                width: 44px;
                top: -50%;
                @media only screen and (max-width:1600px){
                    top: -71%;
                }
                @include x-xxl{
                    top: -65%;
                }
                @media only screen and (max-width:1280px){
                    top:-70%;
                }
                &.slick-prev{
                    top: -76%;
                    opacity: 0;
                    z-index: 1;
                    @media only screen and (max-width:1600px){
                        top:-107%;
                    }
                    @include x-xxl{
                        top: -101%;
                    }
                    @media only screen and (max-width:1280px){
                        top:-109%;
                    }
                    @include x-lg{
                        top: 28%;
                        right: auto;
                        left: 20px;
                        background: url(../images/mobile-next.svg) no-repeat center;
                        transform: rotate(90deg);
                        z-index: 1;
                        border: 1px solid $border-color;
                        background-size: 7px 4px;
                        opacity: 1;
                        &:hover{
                            background: url(../images/mobile-next-hover.svg) no-repeat center $border-color;
                            transform: rotate(90deg);
                        }
                    }
                    // &::after{
                    //     content: "";
                    //     width: 1px;
                    //     height: 280%;
                    //     background-color: #E1CCBF;
                    //     position: absolute;
                    //     left: 50%;
                    //     top: 100%;
                    //     display: block;
                    //     z-index: -1;
                    //     @include md{
                    //         display: none;
                    //     }
                    // }
                    &::before{
                        content: "";
                        position: absolute;
                        width: calc(100% + 2px);
                        height: calc(100% + 2px);
                        top: calc(2px/-1);
                        left: calc(2px/-1);
                        background: linear-gradient(to right, white 0%, white 100%), linear-gradient(to top, white 50%, transparent 50%), linear-gradient(to top, white 50%, transparent 50%), linear-gradient(to right, white 0%, white 100%), linear-gradient(to left, white 0%, white 100%);
                        background-size: 100% 1px, 1px 200%, 1px 200%, 0% 1px, 0% 1px;
                        background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
                        background-repeat: no-repeat, no-repeat;
                        transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out, background-size 0.3s ease-in-out;
                        transform: scaleY(0) rotate(-90deg);
                        transition-delay: 0.6s, 0.3s, 0s;
                        display: block;
                        @include x-lg{
                            display: none;
                        }
                    }
                    &:hover{
                        &::before{
                            background-size: 200% 1px, 1px 400%, 1px 400%, 55% 1px, 55% 1px;
                            background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
                            transform: scaleY(1) rotate(-90deg);
                            transition-delay: 0s, 0.3s, 0.6s;
                        }
                    }
                }
                &.slick-next{
                    background: url(../images/slick-next.svg) no-repeat center #000;
                    opacity: 0;
                    z-index: 1;
                    @include x-lg{
                        top: 28%;
                        right: 20px;
                        left: auto;
                        background: url(../images/mobile-next.svg) no-repeat center;
                        transform: rotate(-90deg);
                        border: 1px solid $border-color;
                        background-size: 10px 6px;
                        opacity: 1;
                        &:hover{
                            background: url(../images/mobile-next-hover.svg) no-repeat center $border-color;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
        .next-prev{
            position: absolute;
            right: 96px;
            bottom: 284px;
            z-index: 0;
            transition: all 0.6s;
            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            pointer-events: none;
            display: none;
            @media only screen and (max-width:1600px){
                right: 79px;
                bottom: 212px;
            }
            @include x-xxl{
                right: 72px;
                bottom: 193px;
            }
            @media only screen and (max-width:1367px){
                right: 68px;
            }
            @media only screen and (max-width:1280px){
                right: 64px;
            }
            @include x-lg{
                display: none;
            }
            svg{
                g{
                    // circle{
                    //     stroke: #E1CCBF;
                    //     transition: all 0.6s;
                    //     stroke-dashoffset: 280;
                    //     stroke-dasharray: 140;
                    // }
                    .another-circle,.another-circle-next{
                        stroke-dasharray: 227;
                        stroke-dashoffset: 227;
                        transition: stroke-dashoffset 2s linear;
                        stroke: #fff;
                    }
                }
                
            }
            &.cursorprev{
                svg{
                    g{
                        // #Ellipse_11{
                        //     stroke-dashoffset: 0;
                        //     stroke-dasharray: 140;
                        //     stroke: #fff;
                        // }
                        .another-circle {
                            stroke-dashoffset: 0;
                            stroke: #ffff;
                        }
                    }
                }
            }
            &.cursornext{
                svg{
                    g{
                        .another-circle-next {
                            stroke-dashoffset: 0;
                            stroke: #ffff;
                        }
                    }
                }
            }
        }
    }
}

.error404{
    background-color: #000;
    header{
        .announcement-bar{
            display: none;
        }
    }
    .error-main{        
        position: relative;
        width: 100%;
        height: 100vh;
        &::after{
            content: "";
            background: url(../images/404-back.jpg) no-repeat center;
            background-size: cover;
            width: 100%;
            height: 100vh;
            opacity: .29;
            position: absolute;
            top: 0;
            left: 0;
        }
        .content{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            z-index: 1;
            width: 100%;
            h1{
                font-size: 137px;
                line-height: 120px;
                letter-spacing: .7px;
                color: $border-color;
                font-family: $default-font;
                margin: 0;
                @include md{
                    font-size: 92px;
                    line-height: 76px;
                }
            }
            h2{
                color: $border-color;
                letter-spacing: 1.25px;
            }
            .backlink{
                @include md{
                    font-size: 13px;
                }
            }
        }
    }
}



body:has(#gallery-view-0.gallery-view .sync-slider .slick-arrow){
    #gallery-view-0.gallery-view .mainpopup .next-prev{display: block;}
}
body:has(#gallery-view-1.gallery-view .sync-slider .slick-arrow){
    #gallery-view-1.gallery-view .mainpopup .next-prev{display: block;}
}
body:has(#gallery-view-2.gallery-view .sync-slider .slick-arrow){
    #gallery-view-2.gallery-view .mainpopup .next-prev{display: block;}
}